@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body {
   font-family: 'Roboto Condensed', sans-serif;
}
td,tr, input {
    font-family: 'Roboto Condensed', sans-serif;
}
input {
    float: left;
    clear: both;
    border: 1px solid #ccc;
}
textarea#message {
    width: 100%;
}
textarea {
    float: left;
    clear: both;
}
#modal-form {
    display: none;
}
tr {
    background: #ebf0ff;
}
tr.even {
    background: #ebf0ff !important;
}
.btn-form {
    border: 2px solid #ccc;
    float: none;
    margin: 0 auto;
    text-align: center;
    width: 170px;
    padding: 10px 20px;
    display: block;
    text-transform: uppercase;
    margin-top: 60px;
}
a.modalbox {
    display: block;
    width: 100%;
    height: auto;
}

.fancybox-skin {
    width: 430px !important;
    height: auto !Important;
    display: flex;
    position: relative;
    left: 50%;
    justify-content: center;
    align-items: center;
    transform: translate(-50%);
}
input {
    border: 1px solid #ccc !important;
    margin-bottom: .5em;
    width: 100%;
    padding: 4px;
}
a.paginate_button.current {
    background: #ebf0ff !important;
}
guest-form img {
    float: left;
    width: 90px;
    margin: 0px auto;
    display: block;
    clear: both;
    padding: 0px;
}